[Unit]
Description=Download XML from tcmb and store it in the database(docker container)
Requires=docker.service
After=docker.service

[Service]
# Change HERE !!!
ExecStart=/usr/bin/docker-compose -f /home/umut/src/staj/Currency/docker-compose.yml up --abort-on-container-exit

[Install]
WantedBy=multi-user.target
