[Unit]
Description=Run curdow (Docker container) service periodically
Requires=docker.service

[Timer]
OnCalendar=*-*-* 15:23:00
Persistent=true
Unit=curdow-docker.service

[Install]
WantedBy=timers.target
