[Unit]
Description=Download XML from tcmb and store it in the database

[Service]
ExecStart=/home/umut/.loca/bin/currency-downloader
SyslogIdentifier=currency-downloader

User=umut

Restart=always
RestartSec=5

Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target
